<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tufu Framework</title>
    <meta name="description" content="Tiny small framework ! Tufu">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body>
<!--[if lte IE 9]>
<div class="message is-danger">
    <div class="message-header">
        Warning
        <button class="delete"></button>
    </div>
    <div class="message-body">
        <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
            browser</a> to improve your experience and security.
        </p>
    </div>
</div>
<![endif]-->

<section class="hero is-info">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item content is-large">
                        <span>Tufu</span>
                    </a>
                </div>
                <span class="nav-toggle">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                <div class="nav-right nav-menu">
                    <a href="{{ route('GET/') }}" class="nav-item">
                        Home
                    </a>
                    <a class="nav-item is-active">
                        Documentation
                    </a>
                    <span class="nav-item">
                            <a class="button is-danger is-inverted" href="https://bitbucket.org/ready24it/tufu"
                               target="_blank">
                              <span class="icon">
                                <i class="fa fa-bitbucket"></i>
                              </span>
                              <span>Bitbucket</span>
                            </a>
                        </span>
                </div>
            </div>
        </header>
    </div>
</section>
<section class="section">
    <div class="container">
        <article class="message">
            <div class="message-body">
                <button class="delete is-pulled-right"></button>
                <p class="content has-text-centered">
                    The documentation of this project is still <strong>under active development</strong>. New features
                    are still being added to this project.
                </p>
            </div>
        </article>
        <div class="heading has-text-centered">
            <h2 class="subtitle">Documentation</h2>
        </div>
        <hr/>
        <div class="columns">
            <div class="column is-3 is-full-mobile">
                <aside class="menu">
                    <p class="menu-label">
                        Getting started
                    </p>
                    <ul class="menu-list">
                        <li><a>Installation</a></li>
                        <li><a>Configuration</a></li>
                    </ul>
                    <p class="menu-label">
                        Routing
                    </p>
                    <ul class="menu-list">
                        <li><a>Routes file</a></li>
                    </ul>
                    <p class="menu-label">
                        Template
                    </p>
                    <ul class="menu-list">
                        <li><a>Twig</a></li>
                        <li><a>Twig extensions</a></li>
                        <li><a>Resources</a></li>
                    </ul>
                    <p class="menu-label">
                        Database
                    </p>
                    <ul class="menu-list">
                        <li><a>Eloquent</a></li>
                        <li><a>Migrations</a></li>
                    </ul>
                    <p class="menu-label">
                        Validation
                    </p>
                    <ul class="menu-list">
                        <li><a>FormValidator</a></li>
                        <li><a>Flashmessages</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <h1 class="title">Getting started</h1>
                <hr>
                <h2 class="subtitle">Installation</h2>
                <div class="content">
                    <p>
                        You can use Composer to create a new Tufu project. This is the equivalent of doing a git
                        clone/svn checkout followed by a "composer install".
                        <figure class="highlight">
                            <code class="language-html" data-lang="html">
                                composer create-project ready24it/tufu -s dev {folder-name}
                            </code>
                        </figure>
                    </p>
                </div>
                <h2 class="subtitle">Configuration</h2>
                <div class="content">
                    <p>
                        You should never store sensitive credentials in your code. To protect us we use Dotenv. <strong>(.env)</strong>
                        <figure class="highlight">
                            <code class="language-html" data-lang="html">BASE_URL=http://someurl.com #Optional<br><br>
                                &nbsp;APP_DEBUG=false #Optional<br>
                                &nbsp;DB_DRIVER=mysql<br>
                                &nbsp;DB_HOST=localhost<br>
                                &nbsp;DB_DATABASE=tufu<br>
                                &nbsp;DB_USERNAME=root<br>
                                &nbsp;DB_PASSWORD=somepass<br>
                                 <br>
                                &nbsp;JWT_PUB_KEY=12345<br>
                                &nbsp;JWT_PRI_KEY=12345<br>
                                &nbsp;JWT_EXPIRES_AFTER=20
                            </code>
                        </figure>
                        In our config file <strong>(config/config.php)</strong> we associate the sensitive credentials,
                        but may we need to extend it for our convenience.
                    </p>
                </div>
                <h1 class="title">Routing</h1>
                <hr>
                <h2 class="subtitle">Routes file</h2>
                <div class="content">
                    <p>
                        You should save our routes in the <strong>config/routes.php</strong> file.
                    </p>
                    <figure class="highlight">
                        <code class="language-html" data-lang="php">
                            ...<br><br>
                            &nbsp;// static routes <br>
                            &nbsp;$routesManager->addGetRoute('/', 'App\Controller\Home@welcomeAction');<br>
                            &nbsp;$routesManager->addGetRoute('/documentation',
                            'App\Controller\Documentation@indexAction');<br><br>
                            &nbsp;// generic routes <br>
                            &nbsp;$routesManager->addGetRoute('/user/{id}', 'App\Controller\Test@userAction'); // id => .*
                        </code>
                    </figure>
                </div>
                <h1 class="title">Controller</h1>
                <hr>
                <h2 class="subtitle">Annotation Interceptors</h2>
                <div class="content">
                    <p>
                        You should use Annotations for Request and Response <strong>Interceptors</strong>.
                    </p>
                    <figure class="highlight">
                        <code class="language-html" data-lang="php">
                            /**<br>
                            &nbsp;&nbsp;* @ResponseListener('App\Interceptor\JwtResponseInterceptor')<br>
                            &nbsp;&nbsp;* @RequestListener('App\Interceptor\JwtRequestInterceptor')<br>
                            &nbsp;&nbsp;*<br>
                            &nbsp;&nbsp;* @return JsonResponse<br>
                            &nbsp;&nbsp;*/<br>
                            &nbsp;public function usersAction()<br>
                            &nbsp;{<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;$users = User::all();<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;$headers = array(<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Access-Control-Allow-Origin' => 'http://localhost:4200'<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;);<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;return new JsonResponse($users, 200, $headers);<br>
                            &nbsp;}
                        </code>
                    </figure>
                    <p>
                        The <strong>ResponseListener</strong> adds an <strong>Authorization: Bearer e0yYJSd...</strong> to the Response.<br>
                        The <strong>RequestListener</strong> requires an <strong>X-Auth-Token: e0yYJSd...</strong> in the Request-Header.<br>
                        You can add many interceptors as needed.
                    </p>
                </div>
                <h1 class="title">Template</h1>
                <hr>
                <h2 class="subtitle">Twig</h2>
                <div class="content">
                    <p>
                        Twig is a modern template engine for PHP.
                        More information can be found on the official <a href="https://twig.symfony.com/"
                                                                         target="_blank">Page</a>.
                    </p>
                </div>
                <h2 class="subtitle">Twig extensions</h2>
                <div class="content">
                    <p>Here is a list of integrated filter and extensions.</p>
                    <dl>
                        <dt>truncate</dt>
                        <dd>Use the <code>truncate</code> filter to cut off a string after limit is reached</dd>
                        <dt>wordwrap</dt>
                        <dd>Use the <code>wordwrap</code> filter to split your text in lines with equal length.</dd>
                        <dt>route</dt>
                        <dd>Use the <code>route</code> extension to retrieve the right route-url.</dd>
                        <dt>asset</dt>
                        <dd>Use the <code>asset</code> extension to generate the right asset source path.</dd>
                        <dt>dump</dt>
                        <dd>Use the <code>dump</code> extension to dump in twig.</dd>
                        <dt>has_error</dt>
                        <dd>Use the <code>has_error</code> extension to determinate if field contains an error.</dd>
                    </dl>
                </div>
                <h2 class="subtitle">Resources</h2>
                <div class="content">
                    <p>A resources is everything else expect php that is required for our application.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Tufu</strong> by <a href="http://ready24it.eu">Giacomo Barbalinardo</a>. The source code is
                licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>
                <a class="icon" href="https://bitbucket.org/ready24it/tufu">
                    <i class="fa fa-bitbucket-square"></i>
                </a>
                <a class="icon" href="https://www.xing.com/profile/Giacomo_Barbalinardo">
                    <i class="fa fa-xing-square"></i>
                </a>
            </p>
            <p class="made-with content is-small is-unselectable is-disabled">
                MADE WITH <i class="icon is-small fa fa-heartbeat"></i> & <i class="icon is-small fa fa-windows"></i> BY
                ME
            </p>
        </div>
    </div>
</footer>
<a href="#" class="footer-button button is-hidden">
    <i class="fa fa-chevron-up"></i>
</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</body>
</html>
